
html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

/* Map styling */
#map {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: -100px;
  left: 0;
  right: 0;
  z-index: 0;
}

.infowindow_title {
  color: #e8702a;
  font-weight: bold;
  font-size: 1.25em;
}

#pano {
        width: 200px;
        height: 200px;
}

/* Header styling */
.header {
    position: relative;
    z-index: 100;
    display: inline-flex;
    min-height: 100px;
    background-color: #87ceff;
    flex-direction: row;
    align-items: flex-start;
}

/*Hamburger button */
#sidebar_toggle {
  align-self: center;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Hamburger bar animations */
.change.bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change.bar2 {
    opacity: 0;
}

.change.bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.title {
  padding: 5px;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}
.title:hover {
  cursor: pointer;
}

.visited_btn, .favorited_btn  {
  height: 100px;
  margin: 0px;
  border: none;
  font: bolder;
  font-size: 1em;
  background-color: #ffcc5c;
  color: #e8702a;
}

.visited_btn:hover, .favorited_btn:hover {
  cursor: pointer;
}

.visited_btn {
  margin-right: 3px;
}

/*Sidebar styling */
#sidebar {
  position: absolute;
  top: 100px;
  left: 0px;
  background-color: #87ceff;
  width: auto;
  display: flex;
  flex-flow: column;
  z-index: 100;
}

#searchbox {
  position: relative;
  display: inline-flex;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

ul {
  position: relative;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.list_item:hover {
  cursor: pointer;
}

li {
  margin: 0px;
  padding: 3px;
}

li:hover {
  background-color: #faebd7;
}

li.highlight {
  background-color: #faebd7;
}

li.highlight > .list_item {
  color: #e8702a;
}

.menu, .phone {
  font-variant: small-caps;
  font-size: .75em;
}

.list_btn {
  border: none;
  color: none;
  outline: none;
  background: none;
}

button > img {
  height: 20px;
  width: 20px;
}

button > img:hover {
  height: 24px;
  width: 24px;
}

.notes {
  padding: 10px;
  font-style: italic;
  font-size: .75em;
  color: #555;
}

.notes_form {
  display: flex;
  flex-wrap: wrap;
}

textarea {
  width: 100%;
}
.notes_form > button {
  border: none;
  display: inline-flex;
  background-color: #e8702a;
  color: #ffcc5c;
  margin: 3px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  #sidebar {
    position: absolute;
    top: 50%;
    bottom: 100px;
    left: 0px;
    width: 100%;
    overflow: scroll;
    background-color: #87ceff;
    display: flex;
    flex-flow: column;
    z-index: 100;
  }

  .header {
    position: absolute;
    padding-bottom: 0px;
    bottom: 0px;
  }
}
